body {
    background: lightpink;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  header {
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:rgb(247, 131, 150);
  }
  
  #body_div {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  #startpage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  
  .title {
    font-size: 50px;
    font-weight: bold;
  }
  
  #quizBox {
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  
  #question {
    font-size: 50px;
    text-align: center;
  }
  
  #answersBox {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: space;
    height: 40vh;
  }
  
  #endpage {
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  
  h4 {
    font-size: 30px;
  }
  
  #nameInput {
    background: rgb(248, 209, 215);
    font-size: 20px;
    text-align: center;
    width: 30vw;
    height: 10vh;
  }
  
  #answersBox {
    display: flex;
    flex-direction: column;
  }
  
  #scorenameBox {
    display: none;
    width: 100%;
    display: flex;
    height: auto;
    background: rgb(241, 202, 208);
    flex-wrap: wrap;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  
  #nameTag,
  #scoreTag {
    flex: 0 0 50%;
    width: 50%;
    height: 75px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #nameTag {
    background: rgb(241, 202, 208);
  }
  #scoreTag {
    background: rgb(241, 202, 208));
  }
  
  #line {
    width: 90%;
    height: 1px;
    background: black;
  }
  
  button {
    font-size: 1.5rem;
    background: wheat;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  button:hover {
    transform: scale(1.05);
  }
  
  p {
    font-size: 1.5rem;
  }
  
  h4 {
    text-align: center;
  }
  
  .alert {
    font-size: 3rem;
    position: fixed;
    font-weight: bold;
    padding: 10px;
    border: 2px solid black;
  }
  
  #timeout {
    display: none;
    color: white;
    background: red;
  }
  
  #wrong {
    display: none;
    color: white;
    background: red;
  }
  
  #correct {
    display: none;
    color: white;
    background: rgb(4, 148, 4);
  }
  
  #restart {
    display: none;
  }
  
  @media screen and (max-width: 667px) {
    button {
      padding: 5px;
      font-size: 1.2rem;
    }
    p {
      font-size: 1.2rem;
    }
    #quizBox {
      height: 100vh;
    }
    #question {
      font-size: 1.3rem;
    }
    #nameInput {
      width: 45vw;
    }
    button:hover {
      transform: scale(1);
    }
    .alert {
      font-size: 2rem;
    }
  }